<% provide(:title, 'About') %>
<h1>About FeedbackTailor</h1>
<p>FeedbackTailor is an feedback tailoring system that customizes individual performance feedback to improve the relevance of automated feedback.</p>
